@charset "UTF-8";

@import "reset";


$width:1150px;


@mixin m-box(){
    height:30px;
    width:298px;
    border: 1px solid #000;
    text-align: center;
    line-height: 30px;
    margin:80px 0 40px 40%;


}
@mixin more(){
    display: inline-block;
    position: absolute;
    right: 28px;
    top: 12px;
}
            

//Banner 轮播图部分

#banner-wrapper{
    height:510px;
    width:100%;
    #banner{
        @extend #banner-wrapper;
        width:$width;
        margin:0 auto;
        #box{
            height:450px;
            width:$width;
            position: relative;
            #list1{
                height:450px;
                width:$width;
                position: absolute;
               top:0;
               left: 0;
               li{
                position: absolute;
				left: 0;
                top: 0;
                // float: left;
                img{
                    height:450px;
                    width:$width;
                }
               }
                
            }
            #list2 {
                width:1145px;
                margin-left: 5px;
				height: 54px;
				position: absolute;
				left: 0%;
                bottom: -58px;
                overflow: hidden;
                li{
                    opacity: 0.8;
                }
            }
            #list2 li, #list2 img {
				width: 138px;
				height: 54px;
				float: left;
				margin-right: 5px;
				cursor: pointer;
			}
            
            #list2 .active {
                opacity: 1;
            }
            #prev, #next {
				width: 60px;
				height: 60px;
				background: #fff5f3;
				position: absolute;
				top: 45%;
                cursor: pointer;
                opacity: 0.7;
                i{
                    font-size: 40px;
                    text-align: center;
                    line-height: 60px;
                    margin-left: 10px;
                    
                }
			} 
			#prev {
				left: 10px;
			}
			#next {
				right: 10px;
			}
        }
        
    }

}

//主体内容区域

#main-wrapper{
    width:100%;
    #main{
        width:$width;
        margin:0 auto;
        .m_box1{
            height:706px;
            position: relative;
            .title{
                height:30px;
                width:298px;
                border: 1px solid #000;
                text-align: center;
                line-height: 30px;
                margin:80px 0 40px 40%;
                
                
            }
            
            .more2{
                display: inline-block;
                position: absolute;
                right: 28px;
                top: 12px;
            }
            a{
                margin-left: 3px;
            }
            img:hover{
                opacity: 0.8;
    
            }
            .big img{ 
                width: 100%;
            }

        }
        .m_box2{
            position: relative;
            .title{
                @include m-box();
            }
            .more2{
                @include more();
            }

            .slider{
                margin-left: 3px;
                height:175px;
                width:1134px;
                position: relative;
                overflow: hidden;
                ul{
                    height:175px;
                    width:6000px;
                    position: absolute;
                    top:0px;
                    left: 0px;	
                    // overflow: hidden;	
                    
                    
    
                    li{
                        height:175px;
                        width:378px;
                    //    margin-right: 7px;
                        float: left;
                        box-sizing: border-box;
                        
                    }
                    
                }

            }
            .slider2 {
                position: relative;
                li{
                    float: left;
                    height:86px;
                    width:181px;
                    margin:8px 10px 0 0;
                    cursor: pointer;
                    .up,{
                        font-size: 40px;
                        position: relative;
                        left: 30px;
                        top: 10px;
                        cursor: pointer;
                    }
                    .down{
                        @extend .up;
                        position: relative;
                        left: 111px;
                        top: 0px;
                    }
                    span{
                        display: block;
                        width: 132px;
                        border-top: 1px solid #c4c2c2;
                        transform: rotate(-30deg);
                        margin-left: 30px
                    }
                    .more{
                        display: block;
                        line-height:86px;
                        font-size: 22px;
                        text-align: center;

                    }
                }

            }
            



        }
        .m_box3{
            position: relative;
            .title{
                @include m-box();
            }
            .more2{
                @include more();
            }
            .left{
                width:187px;
                height:500px;
                float: left;
                img{
                    margin-bottom: 3px;
                    
                }
                img:hover{
                    opacity: 0.8;
                }
                .left2{
                    height:250px;
                    background: #f8f8f8;
                    li{
                        width:92px;
                        height: 45px;
                        float: left;
                        a{
                            @extend li;
                            display: inline-block;
                            text-align: center;
                            margin:10px;
                            color:#000;
                            
                        }

                    }

                }
                
            }
            .center{
                width: 962px;
                float: left;
                a{
                    display: inline-block;
                    padding-left: 4px;
                    img:hover{
                        opacity: 0.8;
                    }
                }
                
                
            }
            .p_l{
                float: left;
                a{
                    display: inline-block;
                    padding-left: 4px;
                }
            }
        }

//商品列表展示内容区域
        .m_box4 {
           position: relative;
                .title{
                    @include m-box();
                }
                .more2{
                    @include more();
                }
                .list4{

                    li{
                        height:354px;
                        width:224px;
                        float: left;
                        margin:30px 6px 0 0;
                        text-align: center;
                        cursor: pointer;
                        a{

                            img{
                                height:300px;
                                width:224px;
                                margin-bottom: 10px;
                            }
                            img:hover{
                                opacity: 0.8
                            }
                        }
                    }
                }
                


        }
        .more03{
            display: block;
            background: #000;
            color:#fff;
            text-align: center;
            line-height: 35px;
            height:35px;
            width:120px;
            position: relative;
            bottom:-72px;
            left:45%;
            margin-bottom: 122px;

        }


    }
}





